{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="article-header">
        <h1>{{ actors_title }}</h1>
    </header>

    <a href="{{actor.hyperlink}}">
        <img src={{actor.image_hyperlink}} alt="actorimage">
    </a>
    <p>{{ actor.description }}</p>

    <a href={{actor.hyperlink}} >More information</a>

    <h2>Acted with:</h2>
    {% for colleague in colleagues %}
        <button class="btn-general" onclick="location.href='{{ actor_urls[colleague.full_name] }}'">{{ colleague.full_name }}</button>
    {% endfor %}

    <br><br>

    <h2>Acted movies:</h2>
    {% for movie in movies %}
    <article id="article">
        <a href="{{movie.hyperlink}}" target="_blank">
            <img src={{movie.image_hyperlink}} alt="movieimage" style="width:170px;height:250px;display: block">
            <h3 style="text-align: center">{{ movie.title }}</h3>
        </a>
    </article>
    {% endfor %}

    <footer>
    </footer>
</main>
{% endblock %}